#layer {
    display: block;
    width: 100%;
    height: 100%;
}

#rectangle {
    filter: url(#spotlight);
    fill: white;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
}
