#wallmap {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    right: 27vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 60%;
    z-index: -1;
}

#wallmap img {
    filter: blur(0.5px);
    width: 44vw;
    height: auto;
    max-width: 350px;
}

#wallmap img:hover {
    filter: drop-shadow(16px 16px 20px red) invert(75%);
    filter: brightness(0.6);
}

@media screen and (orientation: landscape) {
    #wallmap {
        position: absolute;
        right: 23vw;
        transform: translateY(-20vw) translateX(8vw);
    }
}