* {
    margin: 0;
    padding: 0;
}


#piano {
    clip-path: inset(15px 0px 0px 0px);
    margin-top: -15px;
}

.white-key {
    stroke: #282828;
    ;
}
.black-key {
    stroke: #1f1f1f;
} 

.white-key-text {
    font-size: 1.3em;
    pointer-events: none;
    user-select: none;
}
.black-key-text {
    font-size: 1em;
    fill: #fff;
    font-weight: 200;
    pointer-events: none;
    user-select: none;
}
/*
.playing {
    fill: url(#playing-white-key-gradient);
    filter: url(#playing-white-key-filter);
}
*/
.playing.white-key {
    fill: url(#playing-white-key-gradient);
    filter: url(#playing-white-key-filter);
}

.playing.black-key {
    fill: url(#playing-black-key-gradient);
    filter: url(#playing-black-key-filter);
}

.playing.black-key ~ text {
    fill: rgb(255, 255, 255);
}