#window {
    top: 10%;
    right: 10vw;
    z-index: 1;
}

#window img{
    width: 70%;
    height: auto;
}

@media screen and (orientation: landscape) {
    #window {
        position: absolute;
        transform: translateX(-35vw);
    }
}

#outdoor {
    position: absolute;
    top: 11.5%;
    width: 42%;
    left: 29%;
    height: 74%;
    /*background-color: aqua;*/
    z-index: -1;
}

#outdoor img {
    width: 100%;
    height: auto;
    z-index: 0;
}