#window {
    position: relative;
    width: 80%;
    height: auto;
    top: 10%;
    right: -10%;
    z-index: 1;
}

#window img {
    filter: blur(0.5px);
    width: 70%;
    height: auto;
}

@media screen and (orientation: landscape) {
    #window {
        position: relative;
        left: 46%;
        top: 13%;
        width: 50%;
        transform: translateX(-40vw);
    }
}

#outdoor {
    position: absolute;
    top: 11.5%;
    width: 42%;
    left: 29%;
    height: 74%;
    /*background-color: aqua;*/
    z-index: -1;
}

#outdoor img {
    width: 100%;
    height: auto;
    z-index: 0;
}