/* rain drop styles */
#Rain {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: -3;
  height: 100%;
  background: linear-gradient(to bottom, rgb(58, 104, 132), rgb(160, 176, 176), rgb(244, 255, 255));
}

.drop {
  /* background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.5))  ); 
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.5) 100%);  */
  width: 1px;
  background-color: gray;
  background: linear-gradient(to bottom, rgba(13, 52, 58, 1), rgba(255, 255, 255, .5));
  height: 10px;
  position: absolute;
  bottom: 200px;
  z-index: 100;
  animation: fall .63s linear infinite;
}

/* drop animation styles */
@-webkit-keyframes fall {
  to {
    margin-top: 900px;
  }
}

@-moz-keyframes fall {
  to {
    margin-top: 900px;
  }
}

@keyframes fall {
  to {
    margin-top: 900px;
  }
}