.leaflet-container {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
	border:20px solid transparent;
    width: auto;
    border-image: url(../../../public/images/mapBorder.png) 30 30 round;
    border-radius: 0.5%;
    height: 60%;
    -webkit-tap-highlight-color: transparent;
    font-size: 0.75rem;
    line-height: 1.5;
    background: solid transparent;
    outline-offset: 1px;
    overflow: hidden;
    z-index: 0;
}

.city-name {
    text-align: center;
    font-family: "Source Code Pro";
    color: #160D10;
}