.leaflet-container {
	border:20px solid transparent;
    grid-column: 2;
    width: auto;
    border-image: url(../../../public/images/mapBorder.png) 30 30 round;
    border-radius: 0.5%;
    height: 60%;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    font-size: 0.75rem;
    line-height: 1.5;
    background: solid transparent;
    outline-offset: 1px;
    overflow: hidden;
    z-index: 0;
}