.sunset-container,
.sunset-sun,
.bird,
.birdr1,
.birdr,
.fin,
.wave {
  position: absolute;
}

.sunset-container {
  background:
  linear-gradient(
  to top, #58151a 30%, #bc2909, #ba6d09, #71a8ee, #1552c6, #0542a8);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -3;
}
  
.sunset-sun {
  position: absolute;
  width: 44px;
  aspect-ratio: 1/1;
  bottom: 45%;
  border-radius: 50%;
  left: 6%;
  z-index: 1;
  background: linear-gradient(#ff0, #d00);
  box-shadow: 0 0 40px 6px #f20, 0 0 150px 10px #f33;
  animation: fall 60s ease forwards;
}

@keyframes fall {
  0% {
    top: 15%;
  }
  100% {
    top: 50%;
  }
}


@keyframes over {
  0% {
    opacity: 0
  }
  ;
  100% {
    opacity: .2
  }
  ;
}

.bird {
  opacity: 1;
  top: 50px;
  left: 00px;
  width: 10px;
  height: 8px;
  border: 2px solid black;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(-75deg);
  animation: move 25s linear infinite, flap .5s linear alternate infinite;
  z-index: 70;
}

.birdr {
  z-index: 70;
  
  opacity: 1;
  top: 50px;
  width: 10px;
  height: 8px;
  border: 2px solid black;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotateZ(75deg);
  margin: 0px 8px;
  animation: mover 25s linear infinite, flap .5s linear alternate infinite;
}

.bird1 {
  opacity: 1;
  top: 45px;
  left: 0px;
  width: 10px;
  height: 8px;
  border: 2px solid black;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(-90deg);
  animation: move 25s linear infinite 1.5s, flap .5s linear alternate infinite 1.5s;
  z-index: 70;
}

.birdr1 {
  z-index: 70;
  opacity: 1;
  top: 45px;
  width: 10px;
  height: 8px;
  border: 2px solid black;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotateZ(90deg);
  margin: 0px 8px;
  animation: mover 25s linear infinite 1.5s, flap .5s linear alternate infinite 1.5s;
}

@keyframes swim {
  0% {
    left: 100%;
  }
  100% {
    left: -25%
  }
  ;
}

@keyframes move {
  0% {
    left: 0px;
  }
  100% {
    left: 100%;
  }
}

@keyframes mover {
  0% {
    left: -0px;
  }
  100% {
    left: 100%;
  }
}

@keyframes flap {
  0% {
    border-radius: 90%;
  }
  100% {
    border-radius: 10%;
  }
}