.natural-note{         
    stroke: #282828;
    fill: url(#white-key-gradient);
    width: 10px;
    height: 50px;
}

.natural-note:hover{         
    fill: url(#white-key-hover);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.sharp-note{
    stroke: #1f1f1f;
    fill:url(#black-key-gradient);
    width: 6px;
    height: 30px;
}

.sharp-note:hover{
    fill: url(#black-key-hover);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.natural-note.active{  
    fill: url(#white-key-gradient-active);
    transform: scale(1, 0.97);
}

.sharp-note.active{  
    fill: url(#black-key-gradient-active);
    transform: scale(1, 0.97);
}



