@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Aldrich&&family=Epilogue:wght@500&family=Source+Code+Pro:wght@400&family=VT323&display=swap");


.device-container {
    width: fit-content;
    height: fit-content;
    margin: 0px;
}

.device {
    font-family: "Source Code Pro";
    width: fit-content;
    letter-spacing: -1;
    max-width: 200px;
    height: fit-content;
    display: block;
    margin: 0px;
    text-shadow: 0 0 0.5px #7F7573,
        0 0 1px #7F7573,
        0 0 5px #7F7573,
        0 0 1px #DED6D3;
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100% 100%, 100% 100%;
    background-position: 0 0, 0 0;
    box-shadow: 0 2px 1px -1px #FFF inset,
        0 3px 1px -1px #E1DDDC inset,
        2px 0 1px -1px rgba(227, 222, 224, 0.25) inset,
        4px 0 2px -2px rgba(227, 222, 224, 0.25) inset,
        -4px 0 2px -2px rgba(227, 222, 224, 0.35) inset,
        0 -4px 3px -3px #353439 inset,
        30px 40px 50px rgba(0, 0, 0, 0.5),
        0px 30px 70px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.display {
    display:grid;
    max-width: 100%;
    grid-template-rows: 35% 40% 25%;
    grid-template-columns: 50% 50%;
    margin: 10px;
    border: 10px;
    height: fit-content;
    border-radius: 2px;
    background-image: linear-gradient(90deg, transparent 15%, rgba(134, 135, 129, 0.05), transparent 85%),
        radial-gradient(rgba(92, 93, 87, 0.75), transparent 70%),
        linear-gradient(#a2a39a, #727469, #6E746A);
    background-size: 10px 100%, 200px 200px, 100% 100%;
    background-position: 0 0, center center, 0 0;
    background-repeat: repeat, no-repeat, no-repeat;
    box-shadow: 0 0 2px 0 #2B262C,
        0 0 1px 1px #221B23 inset,
        0 0 3px #221B23 inset,
        0 0 3px 0.5px #383838 inset,
        0 0 5px #484848 inset,
        9px 0 7px -4px #605A5C inset,
        0 -2px 1px #7A7772 inset;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    justify-content: center;
}

.top {
    width: 100%;
    height: 100%;
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 2;
    align-items: center;
    align-content: center;
}

.city {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    margin: 5px;
    letter-spacing: 1px;
}

.weather-description {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    margin: 5px;
}

.date-time {
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    margin: 5px;
}

.data-container {
    width: 100%;
    display: grid;
    height: 100%;
    justify-content: space-around;
    grid-template-columns: 50% 50%;
    align-items: center;
    align-content: center;
    justify-items: stretch;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.data {
    max-width: 70px;
    display: block;
    align-items: center;
}

.data.internal {
    text-align: right;
    padding-right: 10px;
    border: 1px solid;
}

.data.external {
    text-align: left;
    margin-left: 5px;
}

.data-value {
    font-family: 'Seven Segment';
    font-weight: bolder;
    font-size: 20px;
    margin: 10px;
    max-width: 60px;
    letter-spacing: -1px;
}

.data-label {
    text-align: left;
    margin: 10px;
    font-size: 12px;
    font-weight: 600;
}

.details {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: span 2;
    margin: 10px;
    height: fit-content;
    overflow: auto;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    margin: 0px;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}

.parameter-value {
    margin: 0px;
    text-align: right;
    font-weight: 600;
    font-size: 12px;
}

.parameter-label.top {
    text-align: left;
    margin: 0px;
    font-weight: 600;
    border-bottom: 1px solid;
}