.Desk {
    z-index: 1;
}

#desk {
    position: absolute;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    bottom: 12%;
    right: 28vw;
}

#desk img {
    width: 44vw;
    max-width: 521px;
    filter: drop-shadow(5px 5px 5px #222222);
}

@media screen and (orientation: landscape) {
    #desk {
        position: absolute;
        right: 13vw;
        transform: translateX(3.5vw) translateY(-2.5vh);
    }
}

#synth {
    position: absolute;
    width: -moz-fit-content;
    width: fit-content;
    left: 29%;
    filter: blur(0.5px);
    bottom: 57%;
}

#synth img {
    width: 18vw;
    height: auto;
}

#synth img:hover {
    filter: drop-shadow(16px 16px 20px red) invert(75%);
    filter: brightness(0.6);
}